.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-top: 30px;
}
.glider-contain {
  width: 90%;
  justify-content: center;
}
.carousel-item {

  height: 320px !important;
  border-radius: 30px !important;
  img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }
}
.glider-next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.glider-prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.dots {
  width: 30px;
  height: 40px;
  color: black;
}