body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.section-container {
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
}

.section-title {
  margin: 20px 0;
  font-size: 20px;
}

header,
.sub-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  font-size: 18px;
  z-index: 99;
  background-color: white;
}

header {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .header-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header .header-container .header-logo img {
  width: 90px;
  height: 100%;
}

header .header-container .header-logo span {
  font-weight: 800;
  font-size: 28px;
}

header .header-container .promo-msg {
  cursor: pointer;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header .header-container .promo-msg .delivery-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  position: relative;
}

header .header-container .promo-msg img {
  width: 20px;
  height: 20px;
}

header .header-container .header-contact {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header .header-container .header-contact p:nth-child(1) {
  color: #999999;
}

header .header-container .header-login {
  cursor: pointer;
  background: #aca39c;
  height: 40px;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 20px;
  color: white;
  border-radius: 50px;
}

header .header-container .header-login:hover {
  opacity: 90%;
}

.header-container {
  width: 85%;
  height: 100%;
}

.sub-header {
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  height: 10vh;
}

.sub-header .header-container {
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-header .header-container .menu-nav {
  position: relative;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sub-header .header-container .menu-nav .sub-header-logo {
  width: 50px;
  height: 100%;
}

.sub-header .header-container .menu-nav ul {
  display: inline;
}

.sub-header .header-container .menu-nav ul li {
  display: inline;
  margin: 0 4px;
  cursor: pointer;
}

.sub-header .header-container .menu-nav ul li:hover {
  color: #ff6900;
}

.sub-header .header-container .basket {
  cursor: pointer;
  background: #ff6900;
  height: 40px;
  width: 130px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 20px;
  color: white;
  border-radius: 50px;
}

.sub-header .header-container .basket:hover {
  opacity: 90%;
}

#location {
  color: #ff6900;
  font-weight: 700;
  cursor: pointer;
}

.sticky {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.delivery-info {
  width: 350px;
  height: 150px;
  background: grey;
  position: absolute;
  top: 110px;
  left: 20%;
  z-index: 9999;
  display: none;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-top: 30px;
}

.glider-contain {
  width: 98%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-item {
  width: 300px;
  height: 320px !important;
  border-radius: 30px !important;
}

.carousel-item img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.glider-next {
  right: 0;
}

.glider-prev {
  left: 0;
}

.dots {
  width: 30px;
  height: 40px;
  color: black;
}

.catalog .section-container .product-catalog {
  margin: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.catalog .catalog-item {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.catalog .catalog-item img {
  width: 80%;
  max-width: 230px;
  margin: auto;
}

.catalog .catalog-item img:hover {
  width: 82%;
  max-width: 240px;
}

.catalog .catalog-item p {
  text-align: left;
  width: 90%;
}

.catalog .catalog-item .item-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.catalog .catalog-item .item-card-bottom span {
  font-weight: bold;
}

.catalog .catalog-item .item-card-bottom .add-to-basket-button {
  cursor: pointer;
  margin-right: 10px;
  background: #fff0e6;
  height: 40px;
  width: 130px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 20px;
  color: #d15700;
  border-radius: 50px;
}

.catalog .catalog-item .item-card-bottom .add-to-basket-button:hover {
  background: #eed0bc;
}

.delivery-section {
  height: 60vh;
}

.delivery-section h4, .delivery-section h3 {
  color: #ff6900;
}

.delivery-section h2 {
  width: 100%;
  margin: 30px 0;
}

.delivery-info-texts {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.9fr;
      grid-template-columns: 1fr 1fr 0.9fr;
  gap: 30px;
}

.delivery-info-texts .delivery-prices {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.delivery-info-texts .delivery-zone {
  height: 220px;
  text-transform: uppercase;
}

.delivery-info-texts .delivery-zone img {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

footer {
  height: 30vh;
  background-color: #454b54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .upper-footer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid white;
}

footer .upper-footer .app-stores {
  width: 40%;
}

footer .upper-footer .app-stores img {
  width: 180px;
  height: 83px;
}

footer .upper-footer .footer-contacts span {
  color: #a8a1a1;
}

footer .upper-footer .footer-contacts p {
  height: 100%;
  color: white;
  line-height: 30px;
  font-size: 20px;
}

footer .bottom-footer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bottom-footer img {
  width: 30px;
  height: 30px;
  margin: 10px 10px;
}

footer .bottom-footer .policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .bottom-footer .policy span {
  margin: 0 30px;
}
/*# sourceMappingURL=main.css.map */